# true = ghi dữ liệu giả lập (simulator.py), false = đọc PLC thật
USE_SIMULATOR=false

PLC_IP=192.168.111.112
PLC_RACK=0
PLC_SLOT=1
DB_NUMBER=200

MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=report-plc

POLL_INTERVAL_SECONDS=60
